.container5{
    display: inline-flex;
    height: 220px;
    width: 100%;
    
}
.lijevo5{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.lijevo5 img{
    height: 120px;
    width: 220px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.imagecont5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 100px;
    height: 160px;
    width: 160px;
    align-content: center;
    overflow: visible;
}
.desno5{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #B2CBAE;
    flex-direction: column;
    position: relative;
}
.desno5 h3{
    margin-top: 15px;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: "sansbold";
    
}
.desno5 h2{
    margin-top: 5px;
    margin-left: 20px;
    color: #464c45;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-family: "sansbold";
}
.granulacija5{
    display: flex;
     position: relative;
    flex-direction: column;
    
    
    
}
.granulacija5 p{
    padding: 0;
    margin-top: 0px;
    margin-left: 20px;
    font-family: "sanswork";
}
.granulacija5 p:nth-child(2){
    font-size: 12px;
    font-family: "sanswork";
}
.uteg5 {
    display: flex;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 60px;
    margin-left: 180px;
    background-color: #B2CBAE;
    margin-bottom: 100px;
    border-radius: 50px;
    position: absolute;
    left: 70px;
    
}
.uteg5 img{
    height: 90px;
    width: 90px;
    padding: 0;
    
    opacity: 1;
    z-index: 10;
    
    
}
.botun5{
    position: absolute;
    height: 35px;
    width: 130px;
    background-color:#9ab794;
    border: none;
    bottom: 10px;
    left: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}
.botun5:hover{
    background-color: rgb(161, 99, 76);
    color: aqua;
}

.container6{
    display: flex;
    height: 220px;
    width: 100%;
   
}
.lijevo6{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #B2CBAE;
    flex-direction: column;
    position: relative;
}

.lijevo6 h3{
    margin-top: 15px;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: "sansbold";
    
}
.lijevo6 h2{
    margin-top: 5px;
    margin-left: 20px;
    color: #464c45;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-family: "sansbold";
}
.granulacija6{
    display: flex;
     position: relative;
    flex-direction: column;
    
    
    
}
.granulacija6 p{
    padding: 0;
    margin-top: 0px;
    margin-left: 20px;
    font-family: "sanswork";
}
.granulacija6 p:nth-child(2){
    font-size: 12px;
    font-family: "sanswork";
}
.uteg6 {
    display: flex;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 60px;
    margin-left: 180px;
    background-color: #B2CBAE;
    margin-bottom: 100px;
    border-radius: 50px;
    position: absolute;
    left: 70px;
    
}
.uteg6 img{
    height: 90px;
    width: 90px;
    padding: 0;
    
    opacity: 1;
    z-index: 10;
    
    
}
.botun6{
    position: absolute;
    height: 35px;
    width: 130px;
    background-color:#9ab794;
    border: none;
    bottom: 10px;
    left: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}
.botun6:hover{
    background-color: rgb(161, 99, 76);
    color: aqua;
}
.desno6{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.desno6 img{
    height: 140px;
    width: 220px;
    margin-bottom: 5px;
}
.imagecont6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ab794;
    border-radius: 100px;
    height: 160px;
    width: 160px;
    align-content: center;
    overflow: visible;
}
.container7{
    display: inline-flex;
    height: 220px;
    width: 100%;
    
}
.lijevo7{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.lijevo7 img{
    height: 120px;
    width: 200px;
}
.imagecont7{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 100px;
    height: 160px;
    width: 160px;
    align-content: center;
    overflow: visible;
}
.desno7{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #B2CBAE;
    flex-direction: column;
    position: relative;
}
.desno7 h3{
    margin-top: 15px;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: "sansbold";
    
}
.desno7 h2{
    margin-top: 5px;
    margin-left: 20px;
    color: #464c45;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-family: "sansbold";
}
.granulacija7{
    display: flex;
     position: relative;
    flex-direction: column;
    
    
    
}
.granulacija7 p{
    padding: 0;
    margin-top: 0px;
    margin-left: 20px;
    font-family: "sanswork";
   
}
.granulacija7 p:nth-child(2){
    font-size: 12px;
    font-family: "sanswork";
}
.uteg7 {
    display: flex;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 60px;
    margin-left: 180px;
    background-color: #B2CBAE;
    margin-bottom: 100px;
    border-radius: 50px;
    position: absolute;
    left: 70px;
    
}
.uteg7 img{
    height: 90px;
    width: 90px;
    padding: 0;
    
    opacity: 1;
    z-index: 10;
    
    
}
.botun7{
    position: absolute;
    height: 35px;
    width: 130px;
    background-color:#9ab794;
    border: none;
    bottom: 10px;
    left: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}
.botun7:hover{
    background-color: rgb(161, 99, 76);
    color: aqua;
}
.container8{
    display: inline-flex;
    height: 220px;
    width: 100%;
    
}
.lijevo8{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #B2CBAE;
    flex-direction: column;
    position: relative;
}
.lijevo8 h3{
    margin-top: 15px;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: "sansbold";
    
}
.lijevo8 h2{
    margin-top: 5px;
    margin-left: 20px;
    color: #464c45;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-family: "sansbold";
}
.granulacija8{
    display: flex;
     position: relative;
    flex-direction: column;
    
    
    
}
.granulacija8 p{
    padding: 0;
    margin-top: 0px;
    margin-left: 20px;
    font-family: "sanswork";
   
}
.granulacija8 p:nth-child(2){
    font-size: 12px;
    font-family: "sanswork";
}
.uteg8 {
    display: flex;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 60px;
    margin-left: 180px;
    background-color: #B2CBAE;
    margin-bottom: 100px;
    border-radius: 50px;
    position: absolute;
    left: 70px;
    
}
.uteg8 img{
    height: 90px;
    width: 90px;
    padding: 0;
    
    opacity: 1;
    z-index: 10;
    
    
}
.botun8{
    position: absolute;
    height: 35px;
    width: 130px;
    background-color:#9ab794;
    border: none;
    bottom: 10px;
    left: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}
.botun8:hover{
    background-color: rgb(161, 99, 76);
    color: aqua;
}

.desno8{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.desno8 img{
    height: 120px;
    width: 200px;
}
.imagecont8{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ab794;
    border-radius: 100px;
    height: 160px;
    width: 160px;
    align-content: center;
    overflow: visible;
}