body{
            background-color: rgb(234, 225, 225);
            margin: 0;
        }
        .first{
            display: flex;
            max-width: 100%;
            height: auto;
            background-color: rgb(87, 69, 69);
        }
        .first img{
            margin-left: 20px;
            width: 100px;
            height: 100px;
            border-radius: 80px;
            padding: 10px;
        }
        .search{
            display: flex;
            align-items:center;
            width: 500px;
            margin: 20px auto;
            border-radius: 25px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            
            
        }
        .input{
            flex: 1;
            border: none;
            padding: 10px;
            font-size: 16px;
            outline: none;
            border-radius: 20px;
            
        }
        .searchButton{
            font-size: 16px;
            padding: 10px;
            border-radius: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .ikone{
            display: flex;
            align-items: center;
            padding: 30px;
            gap: 60px;
        }
        .fa-solid{
            color: white;
            font-size: 24px;
            text-shadow: 1px 1px 6px black;
            
            
        }
        .second{
            max-width: 100%;
            height: auto;
            background-color: rgb(113, 100, 100);
            display: flex;
            gap: 30px;
            align-content: center ;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            
            
        }
        .second li{
            list-style-type: none;
            font-size: 32px;
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }
        .main{
            display: flex;
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            justify-content: center;
            font-size: 30px;
            background-color: rgb(81, 77, 77);
            text-transform: uppercase;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
            border-radius: 60px;
        }
        .ponuda{
            max-width: 100%;
            height: auto;
            display: flex;
             margin-top: 10px;
           
        }
        .prvaPonuda{
            max-width: 50%;
            height: auto;
            display: flex;
             box-sizing: border-box;
           
            

        }
        .prvaPonuda img{
            width: 800px;
            height: 400px;
            object-fit: cover;
        }
    
        .drugaPonuda{
            display: flex;
            max-width: 50%;
            height: auto;
            margin-right: 10px;
            box-sizing: border-box;
        }
        .drugaPonuda img{
            width: 800px;
            height: 400px;
            object-fit: cover;
        }
        
        
        .botuni{
            margin-top: 20px;
            max-width: 100%;
            display: flex;
            gap: 600px;
            align-items: center;
            justify-content: center;
        }
        .botun{
            width: 100px;
            height: 50px;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-radius: 4px;
            border: none;
            color: white;
            background-color: rgb(37, 35, 35);
            text-transform: uppercase;
            transform: transform 0.5s ease-in;
        }
        .botun:hover{
            cursor: pointer;
            color: rgb(37, 35, 35);
            background-color: white;
            transition: 0.5s ease-in;
        }
        .Popust{
             display: flex;
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            justify-content: center;
            font-size: 30px;
            background-color: rgb(81, 77, 77);
            text-transform: uppercase;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
            border-radius: 60px;
        }
        .odjeca{
            display: flex;
            max-width: 100%;
            height: auto;
            justify-content: center;
            align-content: center;
            gap: 100px;
        }
        .snizenje{
            margin-top: 20px;
            background-color: rgb(81, 77, 77);
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
            width: 30%;
            margin-left: 20px;
            margin-right: 20px;
        }
        .snizenje img{
            width: 100%;
            height: 300px;
            border-radius: 5px;
        }
        .snizenje p{
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            color: white;
            font-family: cursive;
        }
        .snizenje button{
             width: 100px;
            height: 50px;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-radius: 4px;
            border: none;
            color: white;
            background-color: rgb(37, 35, 35);
            text-transform: uppercase;
            transform: transform 0.5s ease-in;
        }
        .snizenje button:hover{
             cursor: pointer;
            color: rgb(37, 35, 35);
            background-color: white;
            transition: 0.5s ease-in;
        }
        .popularno{
            display: flex;
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            justify-content: center;
            font-size: 30px;
            background-color: rgb(81, 77, 77);
            text-transform: uppercase;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
            border-radius: 60px;
        }
        .trend{
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            display: flex;
            gap: 50px;
        }
        .beste{
             margin-top: 10px;
            background-color: rgb(81, 77, 77);
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
            width: 20%;
            margin-left: 20px;
            margin-right: 20px;
        }
        .beste img{
            width: 100%;
            height: 300px;
            border-radius: 5px;
        }
        .beste p{
             margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            color: white;
            font-family: cursive;
        }
        .beste button{
              width: 100px;
            height: 50px;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-radius: 4px;
            border: none;
            color: white;
            background-color: rgb(37, 35, 35);
            text-transform: uppercase;
            transform: transform 0.5s ease-in;
        }
        .beste button:hover{
             cursor: pointer;
            color: rgb(37, 35, 35);
            background-color: white;
            transition: 0.5s ease-in;
        }
        .informacije{
            max-width: 100%;
            background-color: rgb(233, 224, 224);
            text-align: center;
            justify-content: center;
            padding: 20px;
            margin-top: 10px;
            border: 2px solid black;
            border-radius: 10px;
        }
        .informacije h2{
            font-family: cursive;
            text-transform: uppercase;
            font-size: 30px;
            color: rgb(90, 54, 54);
        }
        .informacije li{
             margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            color: rgb(90, 54, 54);
            font-family: cursive;
            list-style-type: none;
        }
        