body{
            background-color: rgb(234, 225, 225);
            padding: 20px;
            margin: 0;
        }
        
        .main{
            display: flex;
            max-width: 100%;
            height: auto;
            margin-top: 10px;
            justify-content: center;
            font-size: 30px;
            background-color: rgb(81, 77, 77);
            text-transform: uppercase;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
            
        }
        
        .ponuda{
            
             display: flex;
            max-width: 100%;
            height: auto;
            margin-top: 10px;
           
        }
        .prvaPonuda{
             margin-top: 20px;
            background-color: rgb(81, 77, 77);
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            width: 50%;
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
            

        }
        .prvaPonuda img{
             width: 100%;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
        }
        .prvaPonuda p{
             margin-top: 10px;
            font-weight: bold;
            font-size: 22px;
            color: white;
            font-family: cursive;
        }
        .prvaPonuda button{
              width: 100px;
            height: 50px;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-radius: 4px;
            border: none;
            color: white;
            background-color: rgb(37, 35, 35);
            text-transform: uppercase;
            transform: transform 0.5s ease-in;
        }
        .prvaPonuda button:hover{
              cursor: pointer;
            color: rgb(37, 35, 35);
            background-color: white;
            transition: 0.5s ease-in;
        }

    
       
        
        
        
        
        .Popust{
             display: flex;
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            justify-content: center;
            font-size: 30px;
            background-color: rgb(81, 77, 77);
            text-transform: uppercase;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
        }
        .odjeca{
            display: flex;
            max-width: 100%;
            height: auto;
            justify-content: center;
            align-content: center;
            gap: 100px;
        }
        .snizenje{
            margin-top: 20px;
            background-color: rgb(81, 77, 77);
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
            width: 30%;
            margin-left: 20px;
            margin-right: 20px;
        }
        .snizenje img{
            width: 100%;
            height: 300px;
            border-radius: 5px;
        }
        .snizenje p{
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            color: white;
            font-family: cursive;
        }
        .snizenje button{
             width: 100px;
            height: 50px;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-radius: 4px;
            border: none;
            color: white;
            background-color: rgb(37, 35, 35);
            text-transform: uppercase;
            transform: transform 0.5s ease-in;
        }
        .snizenje button:hover{
             cursor: pointer;
            color: rgb(37, 35, 35);
            background-color: white;
            transition: 0.5s ease-in;
        }
        .popularno{
            display: flex;
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            justify-content: center;
            font-size: 30px;
            background-color: rgb(81, 77, 77);
            text-transform: uppercase;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
        }
        .trend{
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            display: flex;
            gap: 50px;
        }
        .beste{
             margin-top: 10px;
            background-color: rgb(81, 77, 77);
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
            width: 20%;
            margin-left: 20px;
            margin-right: 20px;
        }
        .beste img{
            width: 100%;
            height: 300px;
            border-radius: 5px;
        }
        .beste p{
             margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            color: white;
            font-family: cursive;
        }
        .beste button{
              width: 100px;
            height: 50px;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-radius: 4px;
            border: none;
            color: white;
            background-color: rgb(37, 35, 35);
            text-transform: uppercase;
            transform: transform 0.5s ease-in;
        }
        .beste button:hover{
             cursor: pointer;
            color: rgb(37, 35, 35);
            background-color: white;
            transition: 0.5s ease-in;
        }
        .informacije{
            max-width: 100%;
            background-color: rgb(233, 224, 224);
            text-align: center;
            justify-content: center;
            padding: 20px;
            margin-top: 10px;
            border: 2px solid black;
            border-radius: 10px;
        }
        .informacije h2{
            font-family: cursive;
            text-transform: uppercase;
            font-size: 30px;
            color: rgb(90, 54, 54);
        }
        .informacije li{
             margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            color: rgb(90, 54, 54);
            font-family: cursive;
            list-style-type: none;
        }
        